<nav class="navbar navbar-expand-lg navbar-light bg-light bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= image_tag 'favicon.png', size: '30x30', class: "mx-2" %>
      <%= link_to 'ICON MAKER', root_path, class: 'navbar-brand text-dark text-center', data: { turbo: false } %>
    </div>
    <%= link_to '投稿一覧', posts_path, class: 'nav-link mx-3 text-dark' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'アイコン作成', posts_path, class: 'nav-link', data: { turbo: false }  %>
        </li>
        <li class="nav-item">
          <%= link_to 'ログアウト', logout_path, class: 'nav-link', data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>
</nav>