<div class="col-sm-5 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <% if post.image.attached? %>
        <%= image_tag post.image %>
      <% else %>
        <%= image_tag "favicon.png", class: 'card-img-top img-fluid', size: '200x200' %>
      <% end %>
      <div class="card-body">
        <%= link_to (post_path(post)), data: { turbo: false } do %>
            キーワード:<%= post.title %>
            キーワード:<%= post.taste %>
        <% end %>
        </h4>
        <ul class="list-inline">
          <li class="list-inline-item">
            <%= post.user.name %>
            <%= post.icon %>
          </li>
          <li class="list-inline-item">
            <%= l post.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>