<div class="col-sm-5 col-lg-4 mb-3">
  <div id="post-id-<%= post.id %>">
    <div class="card">
      <div class="card-body text-center">
        <%= link_to (post_path(post)), class: "btn",data: { turbo: false } do %>
          <% if post.image.attached? %>
            <%= image_tag post.image.variant(resize: "128x128"), class: 'card-img-top img-fluid', size: '200x200'  %>
          <% else %>
            <%= image_tag "favicon.png", class: 'card-img-top img-fluid', size: '200x200' %>
          <% end %>
          <%= post.title %>
          <ul class="list-inline">
            <li>
              <%= post.user.name %>
            </li>
            <li>
              <%= l post.created_at.to_date %>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>