<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <%= form_with model: @post, local: true, data: { turbo: false } do |form| %>
        <div class="mb-3 my-5">
          <%= form.text_field :title, class: "form-control", placeholder: '例：散歩している黒柴' %>
        </div>
        <div class="text-center">
          <p>※著作物の入力はご遠慮お願いいたします。</p>
        </div>  
        <div class="form-check">
          <%= form.radio_button :taste, 'cute', id: 'taste_cute', class: 'form-check-input', checked: true %>
          <%= form.label :taste_cute, 'cute', class: 'form-check-label' %>
        </div>

        <div class="form-check">
          <%= form.radio_button :taste, 'cool', id: 'taste_cool', class: 'form-check-input' %>
          <%= form.label :taste_cool, 'cool', class: 'form-check-label' %>
        </div>

        <div class="text-center">
          <%= form.submit "作成", class: "btn btn-dark" %>
        </div>
      <% end %>
      <div class="swiper my-5">
        <div class="swiper-wrapper text-center">
          <div class="swiper-slide">
            <%= image_tag asset_path('favicon.png'), alt: '', size: '300x300' %>
          </div>

          <div class="swiper-slide">
            <%= image_tag asset_path('image1.jpg'), alt: '', size: '300x300' %>
          </div>

          <div class="swiper-slide">
            <%= image_tag asset_path('image2.jpg'), alt: '', size: '300x300' %>
          </div>

          <div class="swiper-slide">
            <%= image_tag asset_path('image3.jpg'), alt: '', size: '300x300' %>
          </div>

          <div class="swiper-slide">
            <%= image_tag asset_path('image4.jpg'), alt: '', size: '300x300' %>
          </div>

           <div class="swiper-slide">
            <%= image_tag asset_path('image5.jpg'), alt: '', size: '300x300' %>
          </div>
     </div>
      <!-- ページネーション -->
      <div class="swiper-pagination"></div>
    </div>
    </div>
  </div>
</div>
