<div class="top text-center">
  <h2>アイコンを作成しました。</h2>
  <div>
    <p>キーワード: <%=@query%><br>テイスト: <%=@style%></p>
  </div>
  <div>
    <%= image_tag @icon_url, class:"img-fluid mx-auto", :size =>'500x500'%>
  </div>
  <div class ="text-center title ">
  <%= link_to 'X Share', "https://twitter.com/share?url=https://iconmaker.onrender.com&text=アイコンを作成しました。
    %0aキーワード: #{@query}
    %0aテイスト: #{@style}
    #{@icon}",
    title: 'Twitter',class:'btn btn-light', target: '_blank' %>
  </div>
  <%= link_to "戻る", root_path , class:"btn btn-light", data: { turbo: false } %>
</div>
