<!DOCTYPE html>
<html>
  <head>
    <title>ICON MAKER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:url" content="https://iconmaker.onrender.com" />
    <meta property="og:title" content="アイコンメーカー" />
    <meta property="og:description" content="生成AIを触ったことがない人向けのアプリになります。" /> 
    <meta property="og:image" content="https://oaidalleapiprodscus.blob.core.windows.net/private/org-h9STCTl8GrCKSceBgFF66fSz/user-4AnC5xXFf8KYxgmcNUrVywlF/img-XQTU5WyHOQyXzIRdHxtr3zZ6.png?st=2023-12-23T04%3A43%3A35Z&se=2023-12-23T06%3A43%3A35Z&sp=r&sv=2021-08-06&sr=b&rscd=inline&rsct=image/png&skoid=6aaadede-4fb3-4698-a8f6-684d7786b067&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2023-12-22T23%3A06%3A38Z&ske=2023-12-23T23%3A06%3A38Z&sks=b&skv=2021-08-06&sig=AZH1gpG9ieDYfslVfE3uQYonqNw5RVfnaUSaVanelv0%3D" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body class="bg-light">
    <header>
      <%= render "shared/header", data: { turbo: false }%>
    </header>
    <%= yield %>
  </body>
  <script>
        const swiper = new Swiper(".swiper", {
        loop: true, // ループ
        speed: 5000, // 少しゆっくり(デフォルトは300)
        autoplay: { // 自動再生
          delay: 0, // 1秒後に次のスライド
          disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
        },
        // ページネーション
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        
      });
      </script>
</html>
