<!DOCTYPE html>
<html>
  <head>
    <title>ICON MAKER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary">
    <meta property="og:url" content="https://iconmaker.onrender.com" />
    <meta property="og:title" content="Icon Maker" />
    <meta property="og:description" content="誰でも簡単にオリジナルのアイコンを作成できます。" /> 
    <meta property="og:image" content="<%= image_url "favicon.png" %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body class="bg-light">
    <header>
      <%= render "shared/header", data: { turbo: false }%>
    </header>
    <%= yield %>
  </body>
  <script>
        const swiper = new Swiper(".swiper", {
        loop: true, // ループ
        speed: 5000, // 少しゆっくり(デフォルトは300)
        autoplay: { // 自動再生
          delay: 0, // 1秒後に次のスライド
          disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
        },
        // ページネーション
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        
      });
      </script>
</html>
